@model WebApplication1.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

Controller: <span>@Model.Controller</span>
Action: <span>@Model.Action</span>
<p>Start: <span>@Model.Start</span></p>
<p>End: <span>@Model.End</span></p>

<p>@Html.LabelFor(m=>m.UserName) <b>@Model.UserName</b></p>
<p>@Html.LabelFor(m => m.IsAuthenticated) <b>@Model.IsAuthenticated</b></p>